* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #272935;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(66, 66, 66, 0.20);
}

::-webkit-scrollbar-track {
  background: transparent;
}
